In [1]:
import pandas as pd
import numpy as np

In [2]:
cols = [
    "AGE", "SEX", "RACE", "LIVARAG", "EMPLOY", 
    "SUB", "SAP", "ALCSUBFLG",
    "TRAUSTREFLG", "ANXIETYFLG", "ADHDFLG", "CONDUCTFLG",
    "DELIRDEMFLG", "BIPOLARFLG", "DEPRESSFLG", "ODDFLG",
    "PDDFLG", "PERSONFLG", "SCHIZOFLG", "OTHERDISFLG",
    "SPHSERVICE", "CMPSERVICE", "OPISERVICE", "RTCSERVICE", "IJSSERVICE",
    "STATEFIP"
]

df = pd.read_csv('MHCLD_PUF_2023.csv', usecols=cols)

df.replace(-9, np.nan, inplace=True)

age_band_map = {
    1: 'Under 15',
    2: 'Under 15',
    3: '15-24',
    4: '15-24',
    5: '15-24',
    6: '25-34',
    7: '25-34',
    8: '35-44',
    9: '35-44',
    10: '45-54',
    11: '45-54',
    12: '55-64',
    13: '65 and older',
    14: '65 and older'
}

df['AGE'] = df['AGE'].map(age_band_map)

sex_map = {
    1: 'Male',
    2: 'Female'
}

df['SEX'] = df['SEX'].map(sex_map)

race_map = {
    1: 'American Indian/Alaska Native',
    2: 'Asian',
    3: 'Black or African American',
    4: 'Native Hawaiian or Other Pacific Islander',
    5: 'White',
    6: 'Some other race alone/two or more races'
}

df['RACE'] = df['RACE'].map(race_map)

liv_map = {
    1: 'Experiencing Homelessness',
    2: 'Private residence',
    3: 'Other'
}

df['LIVARAG'] = df['LIVARAG'].map(liv_map)

employ_map = {
    1: 'Full-time',
    2: 'Part-time',
    3: 'Employed FT/PT not differentiated',
    4: 'Unemployed',
    5: 'Not in labor force'
}

df['EMPLOY'] = df['EMPLOY'].map(employ_map)

sub_map = {
    1: 'Alcohol-induced disorder',
    2: 'Alcohol intoxication',
    3: 'Substance-induced disorder',
    4: 'Alcohol dependence',
    5: 'Cocaine dependence',
    6: 'Cannabis dependence',
    7: 'Opioid dependence',
    8: 'Other substance dependence',
    9: 'Alcohol abuse',
    10: 'Cocaine abuse',
    11: 'Cannabis abuse',
    12: 'Opioid abuse',
    13: 'Other substance related conditions'
}

df['SUB'] = df['SUB'].map(sub_map)

state_map = {
    1: 'Alabama',
    2: 'Alaska',
    4: 'Arizona',
    5: 'Arkansas',
    6: 'California',
    8: 'Colorado',
    9: 'Connecticut',
    10: 'Delaware',
    11: 'District of Columbia',
    12: 'Florida',
    13: 'Georgia',
    15: 'Hawaii',
    16: 'Idaho',
    17: 'Illinois',
    18: 'Indiana',
    19: 'Iowa',
    20: 'Kansas',
    21: 'Kentucky',
    22: 'Louisiana',
    24: 'Maryland',
    25: 'Massachusetts',
    26: 'Michigan',
    27: 'Minnesota',
    28: 'Mississippi',
    29: 'Missouri',
    30: 'Montana',
    31: 'Nebraska',
    32: 'Nevada',
    33: 'New Hampshire',
    34: 'New Jersey',
    35: 'New Mexico',
    36: 'New York',
    37: 'North Carolina',
    38: 'North Dakota',
    39: 'Ohio',
    40: 'Oklahoma',
    41: 'Oregon',
    42: 'Pennsylvania',
    44: 'Rhode Island',
    45: 'South Carolina',
    46: 'South Dakota',
    47: 'Tennessee',
    48: 'Texas',
    49: 'Utah',
    50: 'Vermont',
    51: 'Virginia',
    53: 'Washington',
    54: 'West Virginia',
    55: 'Wisconsin',
    56: 'Wyoming',
    72: 'Puerto Rico',
    99: 'Other jurisdictions'
}
df['STATEFIP_code'] = df['STATEFIP']
df['STATEFIP'] = df['STATEFIP'].map(state_map)

In [3]:
na_counts = df.isna().sum()
na_counts

AGE                 5113
RACE              850616
SEX                13411
SPHSERVICE             0
CMPSERVICE             0
OPISERVICE             0
RTCSERVICE             0
IJSSERVICE             0
SUB              6073595
SAP               617586
EMPLOY           4299722
LIVARAG          2595659
TRAUSTREFLG            0
ANXIETYFLG             0
ADHDFLG                0
CONDUCTFLG             0
DELIRDEMFLG            0
BIPOLARFLG             0
DEPRESSFLG             0
ODDFLG                 0
PDDFLG                 0
PERSONFLG              0
SCHIZOFLG              0
ALCSUBFLG              0
OTHERDISFLG            0
STATEFIP               0
STATEFIP_code          0
dtype: int64

In [4]:
df.index

RangeIndex(start=0, stop=7035641, step=1)

In [5]:
service_cols = ["SPHSERVICE", "CMPSERVICE", "OPISERVICE", "RTCSERVICE", "IJSSERVICE"]
df[service_cols] = df[service_cols].replace(2, 0)

df["SAP"] = df["SAP"].replace(2, 0)

In [6]:
clean_path = 'MHCLD_PUF_2023_clean.csv'
df.to_csv(clean_path, index=False)

In [7]:
unique_age_groups = sorted(set(age_band_map.values()))
unique_age_groups

['15-24', '25-34', '35-44', '45-54', '55-64', '65 and older', 'Under 15']